/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.login{
    text-align:center;
}

.mybtn{
    text-align:center;
    margin-top: 15px;;
}